<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><a href="/tableofcontents">1 John 3:1-10</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="footerImg" src="../../assets/img/footerImg.jpg" alt="">
  <h1>Chapter 3</h1>
  <h3>Divine Sonship</h3>
  <hr />
  <p>
    1 Look with wonder at the depth of the Father’s marvelous love that he has
    lavished on us! He has called us and made us his very own beloved children.
    The reason the world doesn’t recognize who we are is that they didn’t
    recognize him. 2 Beloved, we are God’s children right now; however, it is
    not yet apparent what we will become. But we do know that when it is finally
    made visible, we will be just like him, for we will see him as he truly is.
    3 And all who focus their hope on him will always be purifying themselves,
    just as Jesus is pure.
  </p>
  <h3>The Character of God’s Children</h3>
  <p>
    4 Anyone who indulges in sin lives in moral anarchy, for the definition of
    sin is breaking God’s law. 5 And you know without a doubt that Jesus was
    revealed to eradicate sins, and there is no sin in him. Anyone who continues
    to live in union with him will not sin. 6 But the one who continues sinning
    hasn’t seen him with discernment or known him by intimate experience. 7
    Delightfully loved children, don’t let anyone divert you from this truth.
    The person who keeps doing what is right proves that he is righteous before
    God, even as the Messiah is righteous. 8 But the one who indulges in a
    sinful life is of the devil, because the devil has been sinning from the
    beginning. The reason the Son of God was revealed was to undo and destroy
    the works of the devil. 9 Everyone who is truly God’s child will refuse to
    keep sinning because God’s seed remains within him, and he is unable to
    continue sinning because he has been fathered by God himself. 10 Here is how
    God’s children can be clearly distinguished from the children of the Evil
    One. Anyone who does not demonstrate righteousness and show love to fellow
    believers is not living with God as his source.
  </p>
  <div class="pageNumber">
    <p>pg 7</p>
  </div>
  <ion-button expand="block" size="small" href="/chapter3pg8" >Next page</ion-button>
  <ion-button expand="block" size="small" href="/chapter2pg6" >Previous page</ion-button>
</ion-content>
