<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><a routerLink="/tableofcontents">1 John 2:12-17</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="footerImg" src="../../assets/img/footerImg.jpg" alt="">
  <h3>Three Stages of Spiritual Maturity</h3>
  <p>
    12 I remind you, dear children: your sins have been permanently removed
    because of the power of his name. 13 I remind you, fathers and mothers: you
    have a relationship with the One who has existed from the beginning. And I
    remind you, young people: you have defeated the Evil One. 14 I write these
    things to you, dear children, because you truly have a relationship with the
    Father. I write these things, fathers and mothers, because you have had a
    true relationship with him who is from the beginning. And I write these
    things, young people, because you are strong, the Word of God is treasured
    in your hearts, and you have defeated the Evil One.
  </p>
  <h3>A Warning Not to Love the World</h3>
  <p>
    15 Don’t set the affections of your heart on this world or in loving the
    things of the world. The love of the Father and the love of the world are
    incompatible. 16 For all that the world can offer us the gratification of
    our flesh, the allurement of the things of the world, and the obsession with
    status and importance none of these things come from the Father but from the
    world. 17 This world and its desires are in the process of passing away, but
    those who love to[u] do the will of God live forever.
  </p>
  <ion-icon class="back" size="large" name="arrow-back-circle-outline" routerLink="/chapter2"></ion-icon>
  <ion-icon class="forward" size="large" name="arrow-forward-circle-outline" routerLink="/chapter2pg6"></ion-icon>
  <div class="pageNumber">
    <p>5</p>
  </div>
</ion-content>
