<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><a href="/tableofcontents">1 John 2:1-11</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="footerImg" src="../../assets/img/footerImg.jpg" alt="">
  <h1>Chapter 2</h1>
  <h3>Christ, Our Answer for Sin</h3>
  <hr />
  <p>
    1 You are my dear children, and I write these things to you so that you
    won’t sin. But if anyone does sin, we continually have a forgiving Redeemer
    who is face-to-face with the Father: Jesus Christ, the Righteous One. 2 He
    is the atoning sacrifice for our sins, and not only for ours but also for
    the sins of the whole world.
  </p>
  <h3>The New Commandment</h3>
  <p>
    3 Here’s how we can be sure that we’ve truly come to know God: if we keep
    his commands. 4 If someone claims, “I have come to know God by experience,”
    yet doesn’t keep God’s commands, he is a phony and the truth finds no place
    in him. 5 But the love of God will be perfected within the one who obeys
    God’s Word. We can be sure that we’ve truly come to live in intimacy with
    God, 6 not just by saying, “I am intimate with God,” but by walking in the
    footsteps of Jesus. 7 Beloved, I’m not writing a new commandment to you, but
    an old one that you had from the beginning, and you’ve already heard it. 8
    Yet, in a sense, it is a new commandment, as its truth is made manifest both
    in Christ and in you, because the darkness is disappearing and the true
    light is already blazing. 9 Anyone who says, “I am in the light,” while
    holding hatred in his heart toward a fellow believer is still in the
    darkness. 10 But the one who truly loves a fellow believer lives in the
    light, and there is nothing in him that will cause someone else to stumble.
    11 But whoever hates a fellow believer lives in the darkness stumbling
    around in the dark with no clue where he is going, for he is blinded by the
    darkness.
  </p>
  <div class="pageNumber">
    <p>pg 4</p>
  </div>
  <ion-button expand="block" size="small" href="/chapter2pg5" >Next page</ion-button>
  <ion-button expand="block" size="small" href="/chapter1pg3" >Previous page</ion-button>

</ion-content>
