<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><a href="/tableofcontents">1 John 1:5-7</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="footerImg" src="../../assets/img/footerImg.jpg" alt="">
  <h3>God Is Light</h3>
  <p>
    5 This is the life-giving message we heard him share and
    it’s still ringing in our ears. We now repeat his words to you: God is pure
    light. You will never find even a trace of darkness in him. 6 If we claim
    that we share life with him, but keep walking in the realm of darkness,
    we’re fooling ourselves and not living the truth. 7 But if we keep living in
    the pure light that surrounds him, we share unbroken fellowship with one
    another, and the blood of Jesus, his Son, continually cleanses us from
    all sin.
  </p>
  <div class="pageNumber">
    <p>pg 2</p>
  </div>
  <ion-button expand="block" size="small" href="/chapter1pg3">Next page</ion-button>
  <ion-button expand="block" size="small" href="/chapter1">Previous page</ion-button>
</ion-content>
