<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><a href="/tableofcontents">1 John 2:18-29</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="footerImg" src="../../assets/img/footerImg.jpg" alt="">
  <h3>Believing in Jesus</h3>
  <p>
    18 Dear children, the end of this age is near! You have heard that
    Antichrist is arising, and in fact, many enemies of Christ have already
    appeared, and this is how we know that we are living in the closing hour of
    this age. 19 For even though they were once a part of us, they withdrew from
    us because they were never really of our number. For if they had truly
    belonged to us they would have continued with us. By leaving our community
    of believers they made it obvious that they never really belonged to us. 20
    But the Holy One has anointed you and you all know the truth. 21 So I’m
    writing you not because you don’t know the truth, but because you do know
    it, and no lie belongs to the truth.
  </p>
  <h3>The Power of the Truth</h3>
  <p>
    22 Who is the real liar but the one who denies that Jesus is the Christ. He
    is the real antichrist, the one who denies the Father and the Son. 23
    Whoever rejects the Son rejects the Father. Whoever embraces[ad] the Son
    embraces the Father also. 24 So you must be sure to keep the message
    burning in your hearts; that is, the message of life you heard from the
    beginning. If you do, you will always be living in close fellowship with the
    Son and with the Father. 25 And he himself has promised us the never-ending
    life of the ages to come! 26 I’ve written these things about those who are
    attempting to lead you astray. 27 But the wonderful anointing you have
    received from God is so much greater than their deception and now lives
    in you. There’s no need for anyone to keep teaching you. His anointing
    teaches you all that you need to know, for it will lead you into truth, not
    a counterfeit. So just as the anointing has taught you, remain in him.
    28 And now, dear children, remain in him, so that when he is revealed we may
    have joyful confidence and not be ashamed when we stand before him at his
    appearing. 29 If you know that he is righteous, you may be sure that
    everyone who lives in righteousness has been divinely fathered by him.
  </p>
  <div class="pageNumber">
    <p>pg 6</p>
  </div>
  <ion-button expand="block" size="small" href="/chapter3" >Next page</ion-button>
  <ion-button expand="block" size="small" href="/chapter2pg5" >Previous page</ion-button>
</ion-content>
