<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title><a routerLink="/tableofcontents">1 John 1:1-4</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="footerImg" src="../../assets/img/footerImg.jpg" alt="">
  <h1>Chapter 1</h1>
  <h3>The Living Expression</h3>
<hr>
  <p>
    1 We saw him with our very own eyes. We gazed upon him and heard him
    speak. Our hands actually touched him, the one who was from the
    beginning, the Living Expression of God. 2 This Life-Giver was made
    visible and we have seen him. We testify to this truth: the eternal
    Life-Giver lived face-to-face with the Father and has now dawned upon us. 3
    So we proclaim to you what we have seen and heard about this Life-Giver so
    that we may share and enjoy this life together. For truly our fellowship
    is with the Father and with his Son, Jesus, the Anointed One. 4 We are
    writing these things to you because we want to release to you our fullness
    of joy.
  </p>
  <ion-icon class="back" size="large" name="list-outline" routerLink="/tableofcontents"></ion-icon>
  <ion-icon class="forward" size="large" name="arrow-forward-circle-outline" routerLink="/chapter1pg2"></ion-icon>
  <div class="pageNumber">
    <p>1</p>
  </div>
  <!-- <ion-button expand="block" size="small" routerLink="/chapter1pg2" >Next page</ion-button> -->
</ion-content>
