<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><a href="/tableofcontents">1 John 3:11-24</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="footerImg" src="../../assets/img/footerImg.jpg" alt="">
  <h3>Love One Another</h3>
  <p>
    11 The beautiful message you’ve heard right from the start
    is that we should walk in self-sacrificing love toward one another. 12 We
    should not be like Cain, who yielded to the Evil One and brutally murdered
    his own brother, Abel. And why did he murder him? Because his own actions
    were evil and his brother’s righteous. 13 So don’t be shocked, beloved
    brothers and sisters, if you experience the world’s hatred. 14 Yet we can be
    assured that we have been translated from spiritual death into spiritual
    life because we love the family of believers. A loveless life remains
    spiritually dead. 15 Everyone who keeps hating a fellow believer is a
    murderer, and you know that no murderer has eternal life residing in him.
    16 This is how we have discovered love’s reality: Jesus sacrificed his life
    for us. Because of this great love, we should be willing to lay down our
    lives for one another. 17 If anyone sees a fellow believer in need and has
    the means to help him, yet shows no pity and closes his heart against him,
    how is it even possible that God’s love lives in him? 18 Beloved
    children, our love can’t be an abstract theory we only talk about, but a way
    of life demonstrated through our loving deeds. 19 We know that the truth
    lives within us because we demonstrate love in action, which will
    reassure our hearts in his presence. 20 Whenever our hearts make us
    feel guilty and remind us of our failures, we know that God is much greater
    and more merciful than our conscience, and he knows everything there is to
    know about us. 21 My delightfully loved friends, when our hearts don’t
    condemn us, we have a bold freedom to speak face-to-face with God. 22 And
    whatever we ask of him we receive, because we keep his commands. And by
    our beautiful intentions we continue to do what brings pleasure to him.
    23 So these are his commands: that we continually place our trust in the
    name of his Son, Jesus Christ, and that we keep loving one another, just as
    he has commanded us. 24 For all who obey his commands find their lives
    joined in union with him, and he lives and flourishes in them. We know and
    have proof that he constantly lives and flourishes in us, by the Spirit that
    he has given us.
  </p>
  <div class="pageNumber">
    <p>pg 8</p>
  </div>
  <ion-button expand="block" size="small" href="/chapter4" >Next page</ion-button>
  <ion-button expand="block" size="small" href="/chapter3" >Previous page</ion-button>
</ion-content>
