<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><a routerLink="/tableofcontents">1 John 5:13-21</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="footerImg" src="../../assets/img/footerImg.jpg" alt="">
  <h3>Assurance of Eternal Life</h3>
  <p>
    13 I’ve written this letter to you who believe in
    the name of the Son of God so that you will be assured and know without a
    doubt that you have eternal life. 14 Since we have this confidence, we can
    also have great boldness before him, for if we present any request agreeable
    to his will, he will hear us. 15 And if we know that he hears us in whatever
    we ask, we also know that we have obtained the requests we ask of him. 16 If
    anyone observes a fellow believer habitually sinning in a way that doesn’t
    lead to death, you should keep interceding in prayer that God will give
    that person life. Now, there is a sin that leads to death, and I’m not
    encouraging you to pray for those who commit it. 17 All unrighteousness is
    sin, but there is sin that does not result in death. 18 We are convinced
    that everyone fathered by God does not make sinning a way of life, because
    the Son of God protects the child of God, and the Evil One cannot touch him.
    19 We know that we are God’s children and that the whole world lies under
    the misery and influence of the Evil One. 20 And we know that the Son of God
    has made our understanding come alive so that we can know by experience the
    One who is true. And we are in him who is true, God’s Son, Jesus Christ the
    true God and eternal life! 21 So, little children, guard yourselves from
    worshiping anything but him.
  </p>
  <ion-icon class="back" size="large" name="arrow-back-circle-outline" routerLink="/chapter5"></ion-icon>
  <ion-icon class="forward" size="large" name="repeat-outline" routerLink="/chapter1"></ion-icon>
  <div class="pageNumber">
    <p>12</p>
  </div>
</ion-content>
