<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title><a routerLink="/tableofcontents">1 John 1:8-10</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="footerImg" src="../../assets/img/footerImg.jpg" alt="">
  <h3>Purified From Sin</h3>
  <p>
    8 If we boast that we have no sin, we’re
    only fooling ourselves and are strangers to the truth. 9 But if we freely
    admit our sins when his light uncovers them, he will be faithful to
    forgive us every time. God is just to forgive us our sins because of Christ,
    and he will continue to cleanse us from all unrighteousness. 10 If we
    claim that we’re not guilty of sin when God uncovers it with his light,
    we make him a liar and his word is not in us.
  </p>
  <ion-icon class="back" size="large" name="arrow-back-circle-outline" routerLink="/chapter1pg2"></ion-icon>
  <ion-icon class="forward" size="large" name="arrow-forward-circle-outline" routerLink="/chapter2"></ion-icon>
  <div class="pageNumber">
    <p>3</p>
  </div>
</ion-content>

